@charset "utf-8";

/* 共通のスタイル */
.w720 {
	@media only screen and (min-width: 801px) {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}
	// @media only screen and (max-width: 800px) {
	// 	width: 100%;
	// }
}

.w800 {
	@media only screen and (min-width: 1001px) {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	@media only screen and (max-width: 1000px) {
		width: 70vw;
		margin-left: auto;
		margin-right: auto;
	}
}

.w1000 {
	@media only screen and (min-width: 1201px) {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	@media only screen and (max-width: 1200px) {
		padding-left: 8.33vw;
		padding-right: 8.33vw;
	}
}

.w1200 {
	@media only screen and (min-width: 1201px) {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	@media only screen and (max-width: 1200px) {
		width: 100%;
	}
}

.page-wrapper {
	max-width: 100%;
	overflow: hidden;
}

.background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn {
	display: inline-block;
	width: 300px;
	max-width: 100%;
	line-height: 55px;
	background-color: $color-blue2;
	color: #fff;
	position: relative;
	text-align: center;
	@include transition-all;
	cursor: pointer;

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	bottom: 50%;
	// 	right: 2em;
	// 	width: 1em;
	// 	height: 0.58em;
	// 	border-bottom: 1px solid #191919;
	// 	border-right: 2px solid #191919;
	// 	@include transform(skew(30deg) rotate(-30deg) translateY(50%));
	// }

	// &:before {
	//     content: '';
	//     display: block;
	//     position: absolute;
	//     left: 0;
	//     top: 0;
	//     background-color: #fff;
	//     width: 0;
	//     height: 100%;
	//     opacity: .5;
	//     @include transition-all;
	// }

	// &:hover:before {
	//     width: 100%;
	// }

	&:hover {}

	> span {
		position: relative;
		z-index: 1;
	}
}

.slick-dots {
	text-align: right;
	padding-right: 40px;
	position: absolute;
	right: 0px;
	bottom: -40px;
	@media only screen and (max-width: 768px) {
		bottom: -5.33vw;
		padding-right: 4vw;
	}

	li {
		button::before {
			font-size: 1rem;
			color: $color-menu;
			width: 40px;
			height: 40px;
			@media only screen and (max-width: 768px) {
				width: 2.66vw;
				height: 2.66vw;
			}
		}

		&.slick-active {
			button::before {
				color: $color-blue1;
			}
		}
	}
}

section {
	@extend .w1200;
}
section:not(.hero) {
	// padding-top: 100px;
}
section.hero {
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
	top: 70px;
	padding-bottom: 70px;
	@media only screen and (max-width: 768px) {
		padding-left: 5.33vw;
		padding-right: 5.33vw;
		top: 24.67vw;
		padding-bottom: 0.9vw;
	}
	
}

.section-title {
	margin-bottom: 60px;
	@media only screen and (max-width: 768px) {
		font-size: $font-size-xxxxxl-sp;;
		margin-bottom: 2.5em;
	}

	h3 {
		font-family: $font-poppins;
		font-size: $font-size-section-title;
		@media only screen and (max-width: 768px) {
			font-size: $font-size-section-title-sp;
		}
		font-weight: 700;
		color: $color-section-title;
		line-height: 1.3;

		> span {
			font-family: $font-sans;
		    font-size: $font-size-section-title-small;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-section-title-small-sp;
			}
		    font-weight: 500;
			color: inherit;
			display: block;
		}
	}

	p {
		font-size: $font-size-xxl;
		@media only screen and (max-width: 768px) {
			font-size: $font-size-xxl-sp;
		}
		font-weight: 500;
		letter-spacing: .1em;
		margin-top: 10px;
	}
}

.hero {
    overflow: hidden;
}

.hero-item {
    height: 600px;
    position: relative;
	border-radius: 35px 5px 35px 5px;
    @extend .background-cover;
	@media only screen and (max-width: 768px) {
		height: 88vw;
	}
}

.hero-title {
    // background: linear-gradient(90deg, rgba(4,66,109,.7) 0%, rgba(0,0,0,0) 100%);
    // height: 100%;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	padding-top: 90px;
    padding-left: 120px;
    z-index: 2;
    cursor: default;
	pointer-events: none;

	@media only screen and (max-width: 768px) {
		padding-top: 10vw;
    	padding-left: 11.33vw;
	}

    h2 {
    	font-family: $font-serif;
	    font-size: $font-size-xxxxl;
	    letter-spacing: -0.1em;
		@media only screen and (max-width: 768px) {
			font-size: $font-size-xxxxxl-sp;
		}
		line-height: 1.9;
	    // margin-bottom: 0.76em;
	}

	p {
		font-family: $font-serif;
		font-size: $font-size-xxxxxxl;
		@media only screen and (max-width: 768px) {
			font-size: $font-size-xxxxxxxl-sp;
		}
		line-height: 1.3;
		font-weight: 500;
		letter-spacing: -0.1em;

		span {
			font-family: $font-poppins;
			font-size: $font-size-xl;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-xl-sp;
			}
			line-height: 1.375em;
			display: block;
			margin-top: 1em;
			letter-spacing: -0.01em;
		}
	}
}

.information {
	@extend .w1000;
	@include display-flex;
	padding-top: 80px;
	padding-bottom: 100px;
	@media only screen and (max-width: 768px) {
		padding-top: calc(28vw + 12vw);
		padding-left: 5.33vw;
		padding-right: 5.33vw;
		padding-bottom: 12vw;
		@include flex-direction-column;
		margin-bottom: 3em;
	}
	
	.section-title {
		@include flex(25%);
	}

	.section-content {
		@include flex(75%);

		.item {
			@include display-flex;
			font-family: $font-family-text;
			font-size: $font-size-text;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-text-sp;
			}
			line-height: 1.25;

			.date {
				@include flex(16.66%);
				@media only screen and (max-width: 768px) {
					min-width: 5em;
					margin-right: 1em;
				}
				color: $color-header;
			}

			.body {
				@include flex(83.34%);
				@media only screen and (max-width: 768px) {
					@include flex(1 1 auto);
				}
			}

			+ .item {
				margin-top: 1em;
			}
		}
	}
}

.company {
	padding-top: 100px;
	padding-bottom: 150px;
	position: relative;

	@media only screen and (max-width: 768px) {
		padding: 12vw 5.33vw;
	}

	.section-title {
		@extend .w1000;
	}

	.section-content {
		.block {
			@include display-flex;

			&.block--1 {
				@include flex-direction-row-reverse;
				@include justify-content-flex-start;
				@include align-items(stretch);
				@media only screen and (max-width: 1024px) {
					@include flex-direction-column;
					@include align-items(center);
					@include justify-content-center;
				}
				figure {
					width: 40%;
					@media only screen and (max-width: 1024px) {
						width: 70vw;
					}

					img {
						position: relative;
						top: -150px;
						@media only screen and (max-width: 1024px) {
							position: unset;
							margin: 0 auto;
						}
					}
				}

				.title {
					width: 40%;
					margin-left: auto;
					@include display-flex;
					@include align-items(flex-end);
					@media only screen and (max-width: 1024px) {
						width: auto;
						text-align: center;
						margin-left: unset;
					}

					h4 {
						font-family: $font-serif;
						font-size: 42px;
						@media only screen and (max-width: 1024px) {
							padding-top: 1.7em;
						}
						@media only screen and (max-width: 768px) {
							font-size: $font-size-xxxxxxxxl-sp;
						}
						line-height: 1.02;
						letter-spacing: -0.1em;
						font-weight: 700;

						span {
							font-family: $font-poppins;
							font-size: $font-size-xl;
							display: block;
							margin-top: 3em;
							margin-bottom: 3em;
							letter-spacing: 0.01em;
							white-space: nowrap;
							@media only screen and (max-width: 1024px) {
								line-height: 1.3;
								margin-top: 2.5em;
								margin-bottom: 2em;
							}
							@media only screen and (max-width: 768px) {
								font-size: $font-size-xxxl-sp;
							}
						}
					}
				}
			}

			&.block--2 {
				width: 60vw;
				max-width: 720px;
				margin: 0 auto;
				padding-bottom: 100px;
				@media only screen and (max-width: 768px) {
					padding-bottom: unset;
					width: unset;
				}

				.txt {
					@include flex(50%);
                    @media only screen and (max-width: 1024px) {
						text-align: center;
					}

					p {
						font-family: $font-family-text;
						font-size: $font-size-normal;
						@media only screen and (max-width: 1024px) {
							text-align: center;
						}
						@media only screen and (max-width: 768px) {
							font-size: $font-size-text-sp;
						}
						line-height: 2;
						margin-bottom: 3em;
					}

					.btn {
						font-size: $font-size-l;
						background: $color-blue2;
						color: $color-white;
						text-align: center;
						line-height: 4.3;
						width: 240px;
						border-radius: 2.2em;
						@media only screen and (max-width: 1024px) {
							margin-bottom: 5em;
						}
						@media only screen and (max-width: 768px) {
							font-size: $font-size-button-sp;
							width: 60%;
						}

						&::after {
							border-color : inherit;
						}

						&:hover {
							background: $color-white;
							color: $color-gray3;
						}
					}
				}

				figure {
					@include flex(50%);
					padding-top: 25px;
					@media only screen and (max-width: 1024px) {
						display: none;
					}
				}
			}

			&.block--3 {
				height: 40vw;
				max-height: 480px;
				transform: scale(1.3);
				.item {
					position: relative;
					margin-right: 1rem;

					&.item--1 {
						flex: 20%;

						img {
							position: absolute;
							left: 0;
							top: 50%;
							@include transform(translateY(-50%));
							width: 100%;
						}
					}

					&.item--2 {
						flex: 20.4%;

						img {
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
						}
					}

					&.item--3 {
						flex: 16.6%;

						img {
							position: absolute;
							left: 0;
							top: 50%;
							@include transform(translateY(-50%));
							width: 100%;
						}
					}

					&.item--4 {
						flex: 29%;

						img {
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
						}
					}

					&.item--5 {
						flex: 14%;
						margin-right: unset;

						img {
							position: absolute;
							left: 0;
							top: 10%;
							width: 100%;
						}
					}
				}
			}
		}
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		left: calc((100% - 100vw) / 2);
		right: calc((100% - 100vw) / 2);
		top: calc(100px + 2em);
    	bottom: 230px;
		z-index: -1;
		background: url(../img/fuji1.png) center center no-repeat;
		background-size: cover;
		background-attachment: fixed;
		opacity: 0.5;
		@media only screen and (max-width: 768px) {
			top: calc(12vw + 2em);
			bottom: 23vw;
			background-attachment: scroll;
		}
	}
}

.products {
	position: relative;
	padding-top: 100px;
	@media only screen and (max-width: 768px) {
		// padding-left: 10vw;
		// padding-right: 10vw;
		padding-top: 8vw;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 40px;
		right: 40px;
		top: 0;
		bottom: 0;
		background: $color-gray4;
		z-index: -1;
		border-radius: 10px;

		@media only screen and (max-width: 768px) {
			left: 4vw;
			right: 4vw;
			border-radius: 2vw;
		}
	}

	.section-title {
		@extend .w1000;
		margin-bottom: 6em;
		@media only screen and (max-width: 768px) {
			margin-bottom: 2em;
		}
	}

	.section-content {
		@extend .w1000;

		.category-links {
			@include display-flex;
			@include flex-wrap-wrap;
			@include justify-content-space-between;

			> .item {
				@include flex(24%);
				max-width: 24%;
				text-align: center;
				@media only screen and (max-width: 768px) {
					@include flex(48%);
					max-width: 48%;
					font-size: $font-size-button-sp;

					&:nth-child(n + 3) {
						margin-top: 0.5em;
					}
				}

				a {
					font-family: $font-sans;
					font-size: $font-size-xxl;
					line-height: 6;
					background: $color-transparent;
					color: $color-black;
					width: 100%;
					display: block;
					border-radius: 0.8em;

					@media only screen and (max-width: 1024px) {
						line-height: 1.3;
						height: 4em;
						@include display-flex;
						@include align-items-center;
						@include justify-content-center;
					}
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxl-sp;
						line-height: 1.3;
					}

					&:hover {
						background: $color-blue2;
						color: white;
					}
				}
			}
		}

		.category-list {
			padding-top: 6rem;
			padding-bottom: 6rem;
			>.label {
				@include display-flex;
				@include justify-content-space-between;
				@include align-items-center;
				padding-bottom: 3em;
				border-bottom: 4px dotted $color-gray3;
				margin-bottom: 6em;
				@media only screen and (max-width: 768px) {
					margin-bottom: 3em;
				}

				.name {
					display: block;
					margin-top: -80px;
					padding-top: 80px;
					font-family: $font-sans;
					font-weight: 600;
					font-size: $font-size-xxxl;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxxl-sp;
						margin-top: -20vw;
						padding-top: 20vw;
					}
				}

				.link {
					font-family: $font-sans;
					font-weight: 400;
					font-size: $font-size-xs;
					position: relative;
					left: -2em;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxl-sp;
					}

					&::after {
						content: '';
						position: absolute;
						bottom: 50%;
						right: -1em;
						width: 1em;
						height: 0.58em;
						border-bottom: 1px solid #191919;
						border-right: 2px solid #191919;
						border-color: inherit;
						@include transform(skew(30deg) rotate(-30deg) translateY(50%));
					}
				}
			}

			.list {
				list-style: none;
				@include display-flex;
				@include justify-content-space-between;
				@include flex-wrap-wrap;
				@media only screen and (max-width: 768px) {
					@include flex-direction-column;
				}

				> .item {
					@include flex(48%);
					max-width: 48%;
					@include display-flex;
					@include flex-wrap-wrap;
					
					&.item--special {
						@include flex(100%);
						max-width: 100%;
					}

					&:nth-child(n+3) {
						margin-top: 2rem;
					}

					@media only screen and (max-width: 768px) {
						@include flex(100%);
						max-width: 100%;

						&:nth-child(n+2) {
							margin-top: 10vw;
						}
					}

					.img {
						@include flex(50%);
						padding-right: 20px;
						// border-radius: 10px;
						img {
							width: 100%;
							border-radius: 10px;
							@media only screen and (max-width: 768px) {
								width: 60%;
							}

							&:hover {
								// @include transform(scale(1.05));
							}
						}
					}
					>.detail {
						@include flex(50%);
						@media only screen and (max-width: 768px) {
							@include flex(100%);
						}
						>.name {
							font-family: $font-sans;
							font-weight: bold;
							font-size: $font-size-xxl;
							margin-bottom: 1em;
							display: block;
							@media only screen and (max-width: 768px) {
								font-size: $font-size-xxxxxl-sp;;
								margin-top: 1em;
							}
						}
						.use {
							@include display-flex;
							.label {
								font-family: $font-sans;
								font-weight: 500;
								font-size: $font-size-xs;
								@media only screen and (max-width: 768px) {
									font-size: $font-size-xxxl-sp;
								}
								line-height: 1.4;
								white-space: nowrap;
								margin-right: 1em;
							}
							.detail {
								@include flex(1 1 auto);
								font-family: $font-sans;
								font-weight: normal;
								font-size: $font-size-xs;
								@media only screen and (max-width: 768px) {
									font-size: $font-size-xxxl-sp;
								}
								line-height: 1.4;
							}
						}
						.subcategory {
							margin-top: 3em;
							list-style: none;
							@include display-flex;
							@include justify-content-space-between;
							@include flex-wrap-wrap;

							> .item {
								@include flex(48%);
								max-width: 48%;
								@media only screen and (max-width: 768px) {
									@include flex(100%);
									max-width: 100%;
								}
								white-space: nowrap;

								a {
									font-family: $font-sans;
									font-weight: 500;
									font-size: $font-size-xs;
									@media only screen and (max-width: 768px) {
										font-size: $font-size-xxxl-sp;
									}
									color: $color-gray1;
									line-height: 2.2;
									position: relative;

									&::after {
										content: '';
										position: absolute;
										bottom: 50%;
										right: -2em;
										width: 1em;
										height: 0.58em;
										border-bottom: 1px solid #191919;
										border-right: 2px solid #191919;
										@include transform(skew(30deg) rotate(-30deg) translateY(50%));
									}
								}
							}
						}
						.btn-panel {
							> * {
								display: block;
								margin: 1em 0 1em auto;
								@media only screen and (max-width: 768px) {
									margin-left: auto;
									margin-right: auto;
								}
							}
						}
						.btn {
							font-size: $font-size-xs;
							min-width: 12em;
							max-width: 15em;
							line-height: 4em;
							border-radius: 2em;
							margin-top: 2em;
							background: $color-white;
							color: $color-gray3;
							@media only screen and (max-width: 768px) {
								font-size: $font-size-button-sp;
								max-width: 70vw;
								margin: 1em auto 0;
							}

							&::after {
								border-color: inherit;
							}

							&:hover {
								background: $color-blue2;
								color: $color-white;
							}

							&.highlighted {
								background: $color-blue2;
								color: $color-white;

								&:hover {
									background: $color-white;
									color: $color-gray3;
								}
							}
						}
					}
				}
			}
		}
	}
}

.recruit {
	@extend .w1200;
	position: relative;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	@media only screen and (max-width: 768px) {
		padding-left: 10vw;
		padding-right: 10vw;
		padding-top: 8vw;
		padding-bottom: 8vw;
	}

	.section-content {
		.txt {
			p {
				font-family: $font-sans;
				font-weight: 500;
				font-size: $font-size-normal;
				color: $color-gray1;
				line-height: 2;
				padding-bottom: 4em;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-text-sp;
					padding-bottom: 1em;
				}
			}
		}

		.btn-panel {
			@extend .w720;

			.item {
				font-family: $font-sans;
				font-weight: 500;
				font-size: $font-size-xxl;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-button-sp;
					max-width: 70vw;
					margin-left: auto;
					margin-right: auto;
				}
				background: $color-white;
				line-height: 1.1;
				color: $color-blue2;
				text-align: center;
				border-radius: 2.5em;
				margin-bottom: 1.2em;

				&:hover {
					color: $color-white;
					background: $color-blue2;
				}

				a {
					font-size: inherit;
					line-height: 5;
					color: inherit;
					position: relative;
					@media only screen and (max-width: 768px) {
						line-height: 4;
					}

					&::after {
						content: '';
						position: absolute;
						bottom: 50%;
						right: -2em;
						width: 1em;
						height: 0.58em;
						border-bottom: 1px solid #191919;
						border-right: 2px solid #191919;
						@include transform(skew(30deg) rotate(-30deg) translateY(50%));
						border-color: inherit;
					}
				}
			}

			.line {
				@include display-flex;
				@include justify-content-space-between;
				@include flex-wrap-wrap;

				.item {
					@include flex(48%);
					max-width: 48%;
					@media only screen and (max-width: 768px) {
						@include flex(100%);
						max-width: 70vw;
					}
					background: $color-blue2;
					color: $color-white;

					&:hover {
						color: $color-blue2;
						background: $color-white;
					}
				}
			}
		}
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 40px;
		right: 40px;
		@media only screen and (max-width: 768px) {
			left: 4vw;
			right: 4vw;
		}
		border-radius: 10px;
		top: 0;
		bottom: 0;
		background: center center url(../img/img08.png) no-repeat;
		background-size: cover;
		z-index: -1;
	}
}

.breadcrumb {
	@extend .w1000;
	position: relative;
	top: 70px;
	font-size: $font-size-breadcrumb;
	padding-top: 2em;
	padding-bottom: calc(70px + 2em);
	@media only screen and (max-width: 768px) {
		font-size: $font-size-breadcrumb-sp;
	}
	@media only screen and (max-width: 768px) {
		padding-left: 5.33vw;
		padding-right: 5.33vw;
		top: 18.67vw;
	}

	.section-content {
		ul {
			list-style: none;

			li {
				display: inline;
				font-family: $font-sans;
				font-size: inherit;
				color: $color-gray1 !important;

				+li:before {
					padding: 8px;
					color: black;
					content: ">";
				}

				a {
					color: $color-gray1 !important;

					&:hover {
						color: $color-gray1 !important;
						text-decoration: underline !important;
					}
				}
			}
		}
	}
}

.main-header {
	.section-title h3 {
		margin-top: 1em;
		text-align: center;
	}

	.section-content {
		.main-image {
			overflow: hidden;
			@include display-flex;
			@include justify-content-center;

			.img {
				margin: 0 auto;
				max-width: unset;
			}
		}

		.intro {
			p {
				font-family: $font-family-text;
				text-align: center;
				font-size: $font-size-intro;
				line-height: 2;
				margin-top: 3em;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-intro-sp;
					line-height: 1.5;
					margin-top: 2em;
				}
			}
		}

		.keyword-input {
			@extend .w1000;
			position: relative;
			padding-top: 40px;
			padding-bottom: 40px;
			@media only screen and (max-width: 768px) {
				padding-left: 5.33vw;
				padding-right: 5.33vw;
				padding-top: 10vw;
				padding-bottom: 10vw;
			}

			@include display-flex;
			@include flex-direction-column;
			@include align-items-center;

			.input {
				position: relative;
				margin-bottom: 2em;
				width: 720px;
				@media only screen and (max-width: 768px) {
					width: 100%;
				}
				input {
					border-radius: 2em;
					padding: 1.5em 3em;
					font-size: $font-size-xxl;
					
					@media only screen and (max-width: 768px) {
						padding: 1.2em 1.7em;
						font-size: $font-size-xxxxxl-sp;
						border-radius: 1.7em;
					}
					position: relative;
				}

				button {
					position: absolute;
					right: 1.5em;
					top: 50%;
					transform: translateY(-50%);
					font-size: $font-size-xxl;
					@media only screen and (max-width: 768px) {
						right: 1.2em;
						font-size: $font-size-xxxxxl-sp;
					}
					border: none;
					background: transparent;
					color: $color-gray1;

					&:hover {
						opacity: 0.8;
					}
				}
			}

			.keyword-list {
				width: 720px;
				@media only screen and (max-width: 768px) {
					width: 100%;
				}
				list-style: none;
				@include display-flex;
				@include justify-content-center;
				@include flex-wrap-wrap;

				li {
					font-size: $font-size-l;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxl-sp;
					}
					line-height: 2.5;
					margin-left: 1.5em;
					margin-right: 1.5em;

					a {
						cursor: pointer;

						&:hover {
							color: $color-blue2;
						}
					}
				}
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 3.33vw;
				right: 3.33vw;
				top: 0;
				bottom: 0;
				background: $color-gray4;
				z-index: -1;
				border-radius: 10px;
				@media only screen and (max-width: 768px) {
					left: -10vw;
					right: -10vw;
				}
			}
		}
	}
}

.greeting {
	@extend .w1000;

	padding-top: 100px;
	@media only screen and (max-width: 768px) {
		padding-top: 12vw;
		padding-left: 5.33vw;
		padding-right: 5.33vw;
	}

	.section-title h3 {
		font-family: $font-family-text;
		font-weight: bold;
		text-align: left;
		font-size: $font-size-xxxl;
		line-height: 2.5;
		border-bottom: 1px dotted $color-gray3;
		@media only screen and (max-width: 768px) {
			font-size: $font-size-xxxxxxl-sp;
		}
	}
	.section-content {
		@extend .w800;
		@media only screen and (max-width: 768px) {
			@include flex-direction-column;
			width: 100%;
		}
		
		.ceo {
			max-width: 40%;
			padding-right: 2em;
			float: left;
			@media only screen and (max-width: 768px) {
				@include flex(100%);
				max-width: 100%;
				text-align: center;
				padding-right: unset;
				.img {
					margin: 0 auto;
				}
			}
		}
		.message {
			@media only screen and (max-width: 768px) {
				@include flex(100%);
				max-width: 100%;
				padding-top: 6vw;
			}
			.txt {
				font-family: $font-family-text;
				font-weight: 400;
				font-size: $font-size-normal;
				line-height: 2;
				margin-bottom: 1em;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-xxxxl-sp;
					line-height: 1.5;
				}

				&:last-of-type {
					margin-bottom: 2em;
				}
			}
			.name-position {
				@include display-flex;
				p {
					margin-left: auto;
					.position {
						font-family: $font-serif;
						font-weight: 700;
						font-size: $font-size-xxl;
						line-height: 1;
						@media only screen and (max-width: 768px) {
							font-size: $font-size-xxxxxl-sp;
							line-height: 1;
						}
						display: block;
						margin-bottom: 0.8em;
					}
					.name {
						font-family: $font-serif;
						font-weight: 700;
						font-size: $font-size-xxxxl;
						line-height: 1;
						@media only screen and (max-width: 768px) {
							font-size: $font-size-xxxxxxl-sp;
							line-height: 1;
						}
						display: block;
					}
				}
			}
		}
	}
}

.report {
	@extend .w1000;

	@media only screen and (max-width: 768px) {
		padding-left: 5.33vw;
		padding-right: 5.33vw;
	}

	.top-links {
		@include display-flex;
		@include flex-wrap-wrap;
		@include justify-content-space-between;

		> .item {
			@include flex(24%);
			max-width: 24%;
			text-align: center;
			font-size: $font-size-xxl;
			border-radius: 1.65em;
			@media only screen and (max-width: 1024px) {
				border-radius: 2em;
			}
			@media only screen and (max-width: 768px) {
				@include flex(48%);
				max-width: 48%;
				font-size: $font-size-xxxl-sp;

				&:nth-child(n + 3) {
					margin-top: 0.5em;
				}
			}

			a {
				font-family: $font-sans;
				font-size: $font-size-xxl;
				line-height: 3.3;
				background: $color-gray4;
				color: $color-black;
				width: 100%;
				display: block;
				border-radius: 1.65em;
				position: relative;

				@media only screen and (max-width: 1024px) {
					line-height: 1.3;
					height: 4em;
					@include display-flex;
					@include align-items-center;
					@include justify-content-center;
					border-radius: 2em;
				}
				@media only screen and (max-width: 768px) {
					font-size: $font-size-xxxl-sp;
					line-height: 1.3;
				}

				&:hover {
					background: $color-blue2;
					color: white;
					border-radius: 1.65em;
					@media only screen and (max-width: 1024px) {
						border-radius: 2em;
					}
				}

				&:after {
					content: '';
					position: absolute;
					right: 2em;
					top: 50%;
					height: 0.5em;
					width: 0.5em;
					border-right: 1px solid #191919;
					border-bottom: 1px solid #191919;
					border-color: inherit;
					transform: rotate(45deg) translateY(-100%);
				}
			}

			&.selected {
				a {
					background: $color-blue2;
					color: white;
					border-radius: 1.65em;
				}
			}
		}
	}

	.detail-item {
		padding-top: 90px;
		padding-left: 60px;
		@media only screen and (max-width: 768px) {
			padding-top: 12vw;
			padding-left: unset;
		}

		h4 {
			display: block;
			margin-top: -80px;
			padding-top: 80px;
			@media only screen and (max-width: 768px) {
				margin-top: -20vw;
				padding-top: 20vw;
			}

			font-size: $font-size-xxxl;
			line-height: 1.16;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxxxl-sp;
			}
		}
		p {
			font-size: $font-size-xl;
			line-height: 1.75;
			margin-top: 2.5em;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxl-sp;
			}
		}
	}
}

.headquarter {
	@extend .w1000;

	padding-top: 100px;
	@media only screen and (max-width: 768px) {
		padding-top: 12vw;
		padding-left: 5.33vw;
		padding-right: 5.33vw;
	}

	.section-title h3 {
		font-family: $font-family-text;
		font-weight: bold;
		text-align: left;
		font-size: $font-size-xxxl;
		line-height: 2.5;
		border-bottom: 1px dotted $color-gray3;
		@media only screen and (max-width: 768px) {
			font-size: $font-size-xxxxxxl-sp;
		}
	}

	.section-content {
		.office {
			@extend .w800;
			@include display-flex;
			@media only screen and (max-width: 768px) {
				@include flex-direction-column;
				width: 100%;
			}

			.building-image {
				@include flex(40%);
				max-width: 40%;
				padding-right: 2em;
				@media only screen and (max-width: 768px) {
					@include flex(100%);
					max-width: 100%;
					text-align: center;
					padding-right: unset;
					.img {
						margin: 0 auto;
					}
				}
			}
			.info {
				margin-bottom: 1em;
				&:last-of-type {
					margin-bottom: unset;
				}

				@include flex(60%);
				max-width: 60%;
				@media only screen and (max-width: 768px) {
					@include flex(100%);
					max-width: 100%;
					padding-top: 6vw;
				}
				.item {
					@include display-flex;
					margin-bottom: 1em;

					.field-name {
						@include flex(20%);
						font-size: $font-size-normal;
						@media only screen and (max-width: 768px) {
							font-size: $font-size-xxxxl-sp;
						}
						min-width: 6em;

						span {
							font-family: $font-family-text;
							font-weight: 700;
							font-size: $font-size-normal;
							line-height: 2;
							margin-bottom: 1em;
							@media only screen and (max-width: 768px) {
								font-size: $font-size-xxxxl-sp;
								line-height: 1.5;
							}
						}
					}
					.field-value {
						@include flex(80%);
						p {
							font-family: $font-family-text;
							font-weight: 400;
							font-size: $font-size-normal;
							line-height: 2;
							@media only screen and (max-width: 768px) {
								font-size: $font-size-xxxxl-sp;
								line-height: 1.5;
							}
						}
					}
				}
			}
		}
		.map {
			@extend .w800;
			margin-top: 100px;
			@media only screen and (max-width: 768px) {
				margin-top: 10vw;
				width: 100%;
			}

			.txt {
				.item {
					@include display-flex;
					margin-top: 1em;

					&:first-of-type {
						margin-top: 2em;
					}

					.field-name {
						@include flex(5%);
						min-width: 4em;
						font-size: $font-size-normal;
						@media only screen and (max-width: 768px) {
							font-size: $font-size-xxxxl-sp;
						}

						span {
							font-family: $font-family-text;
							font-weight: 700;
							font-size: $font-size-normal;
							line-height: 2;
							margin-bottom: 1em;
							@media only screen and (max-width: 768px) {
								font-size: $font-size-xxxxl-sp;
								line-height: 1.5;
							}
						}
					}
					.field-value {
						@include flex(97%);
						span {
							font-family: $font-family-text;
							font-weight: 400;
							font-size: $font-size-normal;
							line-height: 2;
							@media only screen and (max-width: 768px) {
								font-size: $font-size-xxxxl-sp;
								line-height: 1.5;
							}
						}
					}
				}
			}
		}
	}
}

.history {
	@extend .w1000;

	padding-top: 100px;
	padding-bottom: 100px;
	@media only screen and (max-width: 768px) {
		padding-top: 12vw;
		padding-left: 5.33vw;
		padding-right: 5.33vw;
		padding-bottom: 18vw;
	}

	.section-title h3 {
		font-family: $font-family-text;
		font-weight: bold;
		text-align: left;
		font-size: $font-size-xxxl;
		line-height: 2.5;
		border-bottom: 1px dotted $color-gray3;
		@media only screen and (max-width: 768px) {
			font-size: $font-size-xxxxxxl-sp;
		}
	}

	.section-content {
		@extend .w800;
		@media only screen and (max-width: 768px) {
			width: 100%;
		}

		.item {
			@include display-flex;
			margin-top: 3em;

			&:first-of-type {
				margin-top: 2em;
			}

			.field-name {
				@include flex(20%);
				font-size: $font-size-normal;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-xxxxl-sp;
				}

				span {
					font-family: $font-family-text;
					font-weight: 700;
					font-size: $font-size-normal;
					line-height: 2;
					margin-bottom: 1em;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxl-sp;
						line-height: 1.5;
					}
				}
			}
			.field-value {
				@include flex(80%);
				span {
					font-family: $font-family-text;
					font-weight: 400;
					font-size: $font-size-normal;
					line-height: 2;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxl-sp;
						line-height: 1.5;
					}
				}
			}
		}
	}
}

.recruitment-links {
	// @extend .w720;
	max-width: 800px;
	@media only screen and (max-width: 1200px) {
		max-width: 66vw;
	}
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	@media only screen and (max-width: 768px) {
		padding-top: 10vw;
	}

	.section-content {
		@include display-flex;
		@include justify-content-space-between;
		@include flex-wrap-wrap;

		.item {
			font-family: $font-sans;
			font-weight: 500;
			font-size: $font-size-xxl;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-button-sp;
				max-width: 70vw;
				margin-left: auto;
				margin-right: auto;
			}
			
			line-height: 1.1;
			text-align: center;
			border-radius: 2.5em;
			margin-bottom: 1.2em;

			@include flex(48%);
			max-width: 48%;
			@media only screen and (max-width: 768px) {
				@include flex(100%);
				max-width: 70vw;
			}
			background: $color-blue2;
			color: $color-white;

			&:hover {
				color: $color-blue2;
				background: $color-gray4;
			}

			a {
				font-size: inherit;
				line-height: 5;
				color: inherit;
				position: relative;
				@media only screen and (max-width: 768px) {
					line-height: 4;
				}

				&::after {
					content: '';
					position: absolute;
					right: -1.5em;
					top: 50%;
					height: 0.5em;
					width: 0.5em;
					border-right: 1px solid #191919;
					border-bottom: 1px solid #191919;
					border-color: inherit;
					transform: rotate(45deg) translateY(-100%);
				}
			}
		}
	}
}

.new-graduate, .career {
	@extend .w1000;
	padding-top: 100px;
	padding-bottom: 100px;
	@media only screen and (max-width: 768px) {
		padding-top: 12vw;
		padding-left: 5.33vw;
		padding-right: 5.33vw;
		padding-bottom: 18vw;
	}

	.section-title h3 {
		font-family: $font-family-text;
		font-weight: bold;
		text-align: left;
		font-size: $font-size-xxxl;
		line-height: 2.5;
		border-bottom: 1px dotted $color-gray3;
		display: block;
		margin-top: -80px;
		padding-top: 80px;

		@media only screen and (max-width: 768px) {
			font-size: $font-size-xxxxxxl-sp;
			margin-top: -20vw;
			padding-top: 20vw;
		}
	}

	.section-content {
		padding-left: 60px;
		padding-right: 60px;
		@media only screen and (max-width: 768px) {
			padding-left: 5vw;
			padding-right: 5vw;
		}

		h4 {
			font-family: $font-family-text;
			font-weight: bold;
			font-size: $font-size-xxl;
			line-height: 2;
			padding-bottom: 1em;
			padding-left: 1.5em;
			position: relative;

			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxxl-sp;
				line-height: 1.5;
			}

			&:before {
				content: "";
				display: block;
				position: absolute;
				height: 1em;
				width: 1em;
				left: 0;
				top: 1em;
				transform: translateY(-50%);
				background: $color-blue2;
			}

			&:nth-of-type(n + 2) {
				margin-top: 100px;
				@media only screen and (max-width: 768px) {
					margin-top: 10vw;
				}
			}
		}

		.item {
			font-family: $font-family-text;
			font-weight: 400;
			font-size: $font-size-normal;
			line-height: 2;
			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxl-sp;
				line-height: 1.5;
			}

			@include display-flex;
			margin-top: 1.5em;

			&:first-of-type {
				margin-top: 2em;
			}

			.field-name {
				@include flex(20%);
				min-width: 6em;
				font-size: $font-size-normal;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-xxxxl-sp;
				}

				span {
					font-family: $font-family-text;
					font-weight: 700;
					font-size: $font-size-normal;
					line-height: 2;
					margin-bottom: 1em;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxl-sp;
						line-height: 1.5;
					}
				}
			}
			.field-value {
				@include flex(80%);
				span {
					font-family: $font-family-text;
					font-weight: 400;
					font-size: $font-size-normal;
					line-height: 2;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxl-sp;
						line-height: 1.5;
					}
				}
			}
		}
	}
}

.inquiry {
	padding-top: 100px;
	@media only screen and (max-width: 768px) {
		padding-top: 12vw;
		padding-left: 5.33vw;
		padding-right: 5.33vw;
	}

	.section-title h3 {
		text-align: center;
	}

	.section-content {
		@extend .w1000;
		padding-bottom: 150px;
		margin-bottom: 100px;

		@media only screen and (max-width: 768px) {
			padding-bottom: 20vw;
			padding-left: unset;
			padding-right: unset;
			margin-bottom: 10vw;
		}

		.intro {
			p {
				font-family: $font-family-text;
				text-align: center;
				font-size: $font-size-intro;
				line-height: 2;
				margin-top: 1em;
				margin-bottom: 3em;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-intro-sp;
					line-height: 1.5;
					margin-top: 1em;
					margin-bottom: 1em;
				}

				i {
					font-style: normal;
					color: $color-red;
				}
			}
		}

		.contents {
			background: $color-gray4;
			padding-top: 60px;
			padding-bottom: 60px;
			border-radius: 10px;
			padding-left: 10%;
			padding-right: 10%;
			@media only screen and (max-width: 768px) {
				padding-top: 8vw;
				padding-bottom: 8vw;
				margin-top: 8vw;
				padding-left: unset;
				padding-right: unset;
			}
		}

		.agree-terms {
			font-family: $font-family-text;
			font-weight: 400;
			font-size: $font-size-normal;
			line-height: 1.5;
			text-align: center;
			@include display-flex;
			@include flex-direction-column;
			margin-top: 2em;

			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxl-sp;
			}

			.checkbox-label {
				line-height: 2;
				margin: 0 auto;
			}

			a {
				text-decoration: underline !important;
				line-height: 2;

				&:hover {
					text-decoration: none !important;
				}
			}
		}

		.item {
			@extend .w720;

			font-family: $font-family-text;
			font-weight: 400;
			font-size: $font-size-normal;
			line-height: 2;

			@include display-flex;
			@include align-items(baseline);
			margin-top: 1.5em;

			&:first-of-type {
				margin-top: unset;
			}

			@media only screen and (max-width: 768px) {
				font-size: $font-size-xxxxl-sp;
				line-height: 1.5;
				padding-left: 5.33vw;
				padding-right: 5.33vw;
				@include flex-direction-column;
				@include align-items-flex-start;
			}

			.field-name {
				@include flex(30%);
				min-width: 15em;
				font-size: $font-size-normal;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-xxxxl-sp;
					margin-bottom: 0.8em;
				}

				span {
					font-family: $font-family-text;
					font-weight: 700;
					font-size: $font-size-normal;
					line-height: 2;
					margin-bottom: 1em;

					i {
						font-style: normal;
						color: $color-red;
					}

					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxl-sp;
						line-height: 1.5;
					}
				}
			}
			.field-value {
				@include flex(70%);
				@media only screen and (max-width: 768px) {
					width: 100%;
				}

				.line {
					font-weight: 400;
					font-size: $font-size-normal;
					margin-bottom: 1em;
					color: $color-gray1;
					@include display-flex;
					@include flex-wrap-wrap;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxl-sp;
						line-height: 1.7;
					}
					
					.radio-label {
						color: inherit;

						+ .radio-label {
							margin-left: 0.8em;
						}
					}
				}

				span, p {
					font-family: $font-family-text;
					font-weight: 400;
					font-size: $font-size-normal;
					line-height: 2;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxl-sp;
						line-height: 1.5;
					}
				}
			}
		}

		.btn-panel {
			text-align: center;
			padding-top: 5em;
			@media only screen and (max-width: 768px) {
				padding-left: 8.33vw;
				padding-right: 8.33vw;
			}

			a {
				display: block;
				font-size: $font-size-normal;
				margin: 0 auto;
				width: 360px;
				line-height: 5;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-xxxxl-sp;
					line-height: 3.6;
					width: 100%;
				}

				&:not(.btn) {
					&:hover {
						text-decoration: underline !important;
					}
				}

				&.btn {
					line-height: 5;
					border-radius: 2.5em;
					background: $color-blue2;
					color: $color-white;
					font-size: $font-size-xxl;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxxxl-sp;
						line-height: 3.6;
						border-radius: 1.8em;
					}

					&:hover {
						background: $color-white;
						color: $color-gray1;
					}

					&.btn--gray {
						background: $color-gray4;
						color: $color-gray1;
						font-size: $font-size-normal;

						&:hover {
							background: $color-blue2;
							color: $color-white;
						}
					}
				}
			}
		}
	}
}

.main-panel {
	@extend .w1000;

	padding-top: 100px;
	padding-bottom: 100px;
	@include display-flex;
	@media only screen and (max-width: 768px) {
		padding-top: 12vw;
		padding-bottom: 12vw;
		@include flex-direction-column;
		padding-left: 5.33vw;
		padding-right: 5.33vw;
	}

	.center-box {
		@include flex(1 1 auto);
		padding-right: 60px;
		@media only screen and (max-width: 768px) {
			@include flex(unset);
			padding-right: unset;
		}

		.section-banner {
			position: relative;

			.img {
				width: 100%;
			}

			.caption {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				@include display-flex;
				@include justify-content-center;
				@include align-items-center;

				h4 {
					text-align: center;
					color: $color-white;
					font-family: $font-poppins;
					line-height: 0.8;
					font-size: $font-size-l;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxl-sp;
					}

					span {
						display: block;
						font-family: $font-sans;
						font-weight: bold;
						line-height: 1.6;
						font-size: $font-size-xxxxl;
						@media only screen and (max-width: 768px) {
							font-size: $font-size-xxxxxxl-sp;
						}
					}
				}
			}
		}

		> dl {
			> dt {
				color: $color-black;
				font-weight: bold;
				line-height: 1;
				margin-top: 3em;
				margin-bottom: 1.2em;
				font-size: $font-size-dt;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-dt-sp;
				}

				h3 {
					color: $color-black;
					font-weight: bold;
					margin-bottom: 0.5em;
					font-size: $font-size-main-panel-title;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-main-panel-title-sp;
					}
				}

				span {
					line-height: 2;
					color: $color-blue2;
					font-size: $font-size-s;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-xxxl-sp;
					}
					border-radius: 1em;
					border: 1px solid $color-blue2;
					padding-left: 1em;
					padding-right: 1em;
				}

				&.box-title {
					border-bottom: 1px dotted $color-gray2;
					padding-bottom: 1em;
					margin-top: unset;
				}
			}

			> dd {
				color: $color-gray1;
				font-size: $font-size-dd;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-dd-sp;
				}

				p {
					line-height: 2;
					margin-top: 2em;
				}

				.category-list {
					list-style: none;
					@include display-flex;
					@include justify-content-flex-start;
					@include flex-wrap-wrap;
					margin-left: -9px;
					margin-right: -9px;

					li {
						@include flex(25%);
						max-width: calc(25% - 1em);
						margin-top: 1em;
						margin-left: 0.5em;
						margin-right: 0.5em;
						font-size: $font-size-category-anchor;
						@media only screen and (max-width: 768px) {
							font-size: $font-size-category-anchor-sp;
							@include flex(50%);
							max-width: calc(50% - 1em);
						}

						a {
							line-height: 4;
							border-radius: 2em;
                            background: $color-gray4;
                            color: $color-black;

							&:hover {
								background: $color-blue2;
								color: $color-white;
							}
						}
					}
				}

				.product-list {
					list-style: none;
					@include display-flex;
					@include justify-content-space-between;
					@include flex-wrap-wrap;
					margin-top: 3em;

					li {
						@include flex(49%);
						max-width: 49%;
						margin-top: 1em;
						font-size: $font-size-category-anchor;
						@media only screen and (max-width: 768px) {
							font-size: $font-size-category-anchor-sp;
						}

						dl {
							dt {
								cursor: pointer;

								.product-image {
									.img {
										width: 100%;
										position: relative;
									}

									.caption {
										color: $color-gray1;
										font-weight: bold;
										margin-top: 1em;
										margin-bottom: 1em;
										font-size: $font-size-product-image-caption;
										@media only screen and (max-width: 768px) {
											font-size: $font-size-product-image-caption-sp;
										}
									}
								}
							}

							dd {
								margin-bottom: 2em;

								span {
									line-height: 2;
									color: $color-blue2;
									font-size: $font-size-s;
									@media only screen and (max-width: 768px) {
										font-size: $font-size-xxxl-sp;
									}
									border-radius: 1em;
									border: 1px solid $color-blue2;
									padding-left: 1em;
									padding-right: 1em;
								}
							}
						}

						&:hover {
							.img::after {
								display: block;
							}

							figcaption {
								text-decoration: underline;
								color: $color-blue2;
							}
						}
					}
				}

				&.btn-panel {
					text-align: center;
					margin-top: 4em;
					margin-bottom: 4em;
					font-size: $font-size-category-anchor;
					@media only screen and (max-width: 768px) {
						font-size: $font-size-category-anchor-sp;
					}

					a {
						line-height: 4;
						border-radius: 2em;
						background: $color-blue1;

						&:hover {
							background: $color-gray4;
							color: $color-black;
						}
					}
				}

				.page-navigator {
					margin-top: 2em;
					@include display-flex;
					@include justify-content-center;
					list-style: none;
					@media only screen and (max-width: 768px) {
						@include justify-content-space-between;
					}

					&.button-3 {
						@include justify-content-space-between;
					}

					li {
						position: relative;
						display: block;
						width: 3em;
						font-family: $font-poppins;
						text-align: center;
						cursor: pointer;
						font-size: $font-size-xxl;
						@media only screen and (max-width: 768px) {
							font-size: $font-size-xxxxxxl-sp;
						}

						&:not(.flat):after {
							content: "";
							position: absolute;
							display: none;
							height: 2em;
							width: 2em;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							background: $color-blue2;
							border-radius: 1em;
							z-index: -1;
						}

						&:not(.flat):not(.disabled) {
							&:hover {
								color: $color-white;

								&:after {
									display: block;
								}
							}
						}

						&.disabled {
							cursor: default;
						}

						&.selected {
							color: $color-white;
							font-weight: bold;

							&:after {
								display: block;
							}
						}

						&.flat {
							width: unset;
							font-size: $font-size-xs;
							@media only screen and (max-width: 768px) {
								font-size: $font-size-xxxxl-sp;
							}

							&:hover {
								text-decoration: underline !important;
							}
						}
					}
				}
			}
		}
	}

	.sidebar {
		@include flex(0 0 170px);
		@media only screen and (max-width: 768px) {
			@include flex(unset);
			margin-top: 10vw;
		}

		> dl {
			> dt {
				font-family: $font-poppins;
				color: $color-black;
				line-height: 1;
				font-size: $font-size-xxxl;
				@media only screen and (max-width: 768px) {
					font-size: $font-size-xxxxxxl-sp;
				}
				margin-bottom: 1.2em;
			}

			> dd {
				.main-category {
					list-style: none;

					> li {
						> dl {
							> dt {
								font-size: $font-size-normal;
								@media only screen and (max-width: 768px) {
									font-size: $font-size-xxxxxl-sp;
								}
								line-height: 2.8;
								
								@include display-flex;
								@include justify-content-space-between;
								
								&.expanded {
									span {
										transform: rotate(-90deg);
									}
								}

								&.collapsed {
									span {
										transform: rotate(90deg);
									}
								}

								a {
									font-weight: bold;
									&:hover {
										color: $color-blue2;
										text-decoration: underline !important;
									}
								}
							}

							> dd {
								.sub-category {
									list-style: outside;
									margin-left: 3.5em;
									margin-bottom: 3em;
									li {
										font-size: $font-size-normal;
										@media only screen and (max-width: 768px) {
											font-size: $font-size-xxxxl-sp;
										}
										line-height: 2.2;

										a {
											&:hover {
												color: $color-blue2;
												text-decoration: underline !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
